.wrap {
    margin: 100px;
    padding: 100px;
    text-align: center;
}

#button {
    padding: auto;
    border-spacing: auto;
}

#prompt{
    border: 2 px solid green;
    padding: auto;
    spacing: auto;
}