.wrap {
    margin: 100px;
    padding: 100px;
    text-align: center;
}

#button {
    padding: 10px;
    border-spacing: 10px;
    align-content: center;
}
body {
    margin: auto;
    width: 60%;
    border:  3px solid #73AD21;
    padding: 10px;
}
#prompt{
    border: 2 px solid green;
    padding: auto;
    spacing: auto;
    align-content: center;
}