#prompt{
        padding-left: 350px;
        text-align: center;
        font-size: 30px;
        white-space: nowrap;
}

#mssg{
    margin: auto;
    width: 60%;
    border: 4 px dotted #73AD21;
    padding-left: 260px;
    align-self: center;
    white-space: nowrap;
}