#buts {
  margin: auto;
  padding-left: 10px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}
#am {
  margin: auto;
  padding-left: 12px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

#rec {
  padding-left: 1px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}
body {
  background-color: white;
}
